:root {
  font-family: Roboto, "Noto Sans SC", system-ui, sans-serif;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 1rem;
  --m-shape-extra-small: 4px;
  --m-shape-small: 8px;
  --m-shape-medium: 12px;
  --m-shape-large: 16px;
  --m-shape-large-increased: 20px;
  --m-shape-full: 9999px;
  --shadow-border:
    0 0 0 1px var(--ak-color-image-outline),
    0 1px 2px -1px var(--ak-color-image-outline),
    0 2px 4px var(--ak-color-shadow);
  --shadow-border-hover:
    0 0 0 1px var(--ak-color-border-default),
    0 1px 2px -1px var(--ak-color-image-outline),
    0 2px 4px var(--ak-color-shadow);
}
